################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JWTDemo/.vs/JWTDemo/config
/JWTDemo/.vs/JWTDemo/FileContentIndex
/JWTDemo/.vs/JWTDemo/v17
/JWTDemo/.vs/JWTDemo/DesignTimeBuild/.dtbcache.v2
/JWTDemo/JWTDemo/obj/JWTDemo.csproj.nuget.dgspec.json
/JWTDemo/JWTDemo/obj/Debug/net6.0/JWTDemo.assets.cache
/JWTDemo/JWTDemo/obj/Debug/net6.0/JWTDemo.csproj.AssemblyReference.cache
/JWTDemo/JWTDemo/obj/project.assets.json
/JWTDemo/JWTDemo/obj/project.nuget.cache
