################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JWTDemo/.vs/JWTDemo/config
/JWTDemo/.vs/JWTDemo/FileContentIndex
/JWTDemo/.vs/JWTDemo/v17
/JWTDemo/.vs/JWTDemo/DesignTimeBuild/.dtbcache.v2
